<li class="list-group-item", id=<%= dom_id comment %>>
  <small class="text-body-secondary">
    <small class="fst-italic"><%= localized_time(comment.created_at) %> -</small> 
    <small class="fs-6"><%= comment.body %></small>
  </small>
</li>
