<h1><%= t('.edit')%></h1>

<%= render "form", story: @story, location: @location %>

<br>

<div>
  <%= link_to t('.show'), @story %> |
  <%= link_to t('.back'), location_stories_path(@story) %>
</div>
