<% if @stories.present? %>
  <strong>Stories:</strong>

  <%= link_to "New Story", location_stories_path(@location) %>

  <ul class="list-group">
    <% @stories.each do |story| %>
      <li class="list-group-item">
        <%= localized_time(story.created_at) %>
        <%= link_to strip_tags(story.body), story_path(story) %>
      </li>
    <% end %>
  </ul>
<% end %>



